body {
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
.square {
    width: 30%;
    background-color: black;
    padding-top: 30%;
    float: left;
    margin: 1.66666666666666666666666666666666666666666666666666666666%;

}

.selected {
    background-color: yellowgreen;
}

.container {
    max-width: 500px;
    margin: auto;
}

#statusBar {
    background-color: black;
    text-align: center;
}
 
#message {
    color: white;
}